@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Hind+Madurai:wght@300&family=Josefin+Sans&family=Nunito:wght@300&family=Patrick+Hand&family=Square+Peg&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body { 
    background-color: #FFFFFF;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 100;
}


/** Global Styling **/

header {
    max-height: 140px;
    background-color: #CB9F7F;
    width: 100%;
}

header .container {
    width: 66%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 150px;
    height: 150px;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header li {
    display: inline;
    padding: 0px 30px;
    list-style: none;
}

header li a {
    text-decoration: none;
    font-size: 18px;
    color: #090C08;
    font-family: 'Josefin Sans', sans-serif;
}

header .logo a {
    font-size: 40px;
    text-decoration: none;
    color: #090C08;
    font-family: 'Square Peg', cursive;
}

.second_header {
    background-color: #090C08;
}

.second_header .logo a, .second_header li a {
    color: #FFFFFF;
}

header li a:hover, .live {
    color:#fff;
}

footer {
    width: 100%;
    text-align: center;
    padding: 3em;
    background-color: #000000;
    color: white;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

footer p {
    font-size: 16px;
}

a {
    text-decoration: none!important;
    cursor: pointer;
}


/** Hero Section **/

#hero {
    width: 100%;
    height: 80vh;
    background-color: #CB9F7F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .container {
    width: 65%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -40px;
}

#hero img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border-style: none;
    box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.719);
}

#hero .content {
    width: 50%;
    padding-top: 40px;
    margin-top: 10px;
}

#hero h1 {
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

#hero p {
    margin-top: 30px;
    padding-right: 12px;
    font-size: 18px;
}

#hero .contact_btn {
    display: flex;
    margin-top: 40px;
}

#hero .contact_btn a {
    background-color: rgba(0, 0, 0, 0.973);
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 250px;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

#hero .contact_links a {
    text-decoration: none;
    display: inline;
    margin: 0px 20px 0px 0px;
}

#hero .contact_links img {
    margin-top: 50px;
    width: 100%;
    max-width: 50px;
    height: auto;
}


/** Recent Work **/

main h2 {
    font-size: 40px;
    text-align: center;
    margin: 100px;
}

main .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .btn {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

main .btn a {
    background-color: black;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn :hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid gray;
}

#btna a:hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid gray;
}


/** Portfolio **/

#portfolio {
    display: grid;
}

#portfolio .filter {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    position: relative;
    top: 80px;
}

#portfolio .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.box {
    max-width: 400px;
    width: 400px;
    height: auto;
    margin: 20px;
    padding-bottom: 40px;
    box-shadow: 1px 2px 10px 2px rgba(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
}

.press_logo {
    width: 100%;
    height: 60px;
    object-fit: contain;
    background-color: hsla(0, 0%, 0%, 0.473);
}

.square_image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: 90% 10%;
    position: relative;
    top: -10px;
}

.square_bottom {
    width: 100%;
    height: 41%;
    margin-top: 25px;
}

.icon {
    display: block;
    text-align: right;
    font-size: 28px;
    padding-right: 25px;
    margin-top: 25px;
    text-decoration: none;
}

.fa-external-link {
    color: rgba(0, 0, 0, 0.774);
}

h3, .square_bottom span, .square_bottom p {
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    margin-bottom: 10px;
}

.square_bottom p {
    margin-top: 20px;
}

.pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page, .next-page {
    background: #0ab1ce;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page, .dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #0ab1ce;
}

.disable {
    background: #ccc;
}

/** About **/

#about {
   margin-bottom: 100px;
}

#about .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -100px;
}

#about h3 {
    padding: 0;
}

#about img {
    width: 400px;
    height: auto;
    margin-top: -250px;
}

/** Contact **/

#contact {
    height: 95vh;
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.business_card {
    background-color: transparent;
    width: 50vw;
    height: 400px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -50px;
}

.business_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*
.business_card:hover .business_card_inner {
    transform: rotateY(180deg);
}
*/

.business_card_front, .business_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.business_card_front {
    background-color: #fb910fc7;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business_card_back {
    background-color: teal;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.card_logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: grey;
    background-image: url('shimages/sarah.png');
    background-size: fill;
    background-repeat: no-repeat;
    background-position: 55% 40%;
}

.business_card_info {
    text-align: right;
}

.business_card_info span{
    font-size: 25px;
    font-weight: bold;
    width: 100%;   
}

.line {
    background-color: black;
    width: 2px;
    height: 200px;
    margin: 0 30px;
}

.business_card_links {
    position: relative;
    top: 10px;
    display: grid;
    grid-template-rows: 7fr 9fr 8fr 10fr;
}

.links_info {
    display: flex;
    position: relative;
    top: 10px;
}

.links_info a {
    color: #090C08;
}

.links_info span {
    height: 22px;
    position: relative;
    top: 12px;
    left: 20px;
}

#twitter_info {
    position: relative;
    top: 15px;
}

#linkedin_info {
    position: relative;
    left: 24px;
    top: 15px;
}

#instagram_link {
    position: relative;
    right: 4px;
    width: 53px;
}

#instagram_info {
    position: relative;
    left: 17px;
    top: 18px;
}

#email_link {
    width: 40px;
    position: relative;
    left: 5px;
}

#email_info {
    position: relative;
    left: 30px;
    top: 5px;
}

.mobile_header {
    visibility: hidden;
    display: none;
}



@media screen and (min-width:320px) and (max-width:576px) {
    body {
        overflow-x: hidden;
    }

    header {
        visibility: hidden;
        display: none;
    }

    .mobile_header {
        visibility: visible;
        display: block;
        min-height: 50px;
        width: 100%;
        background-color: #CB9F7F;
        padding: 20px 0px;
    }

    .mobile_header .container { 
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #side_menu {
		background-color: rgb(0, 0, 0);
		height: 100vh;
		width: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
		overflow-x: hidden;
		padding-top: 80px;
		transition: 0.5s;
		-webkit-transition: 0.5s;
	}

    #side_menu a {
        padding: 25px 20px;
        text-decoration: none;
        font-size: 17px;
        color: #ccc;
        display: block;
        position: relative;
        top: 30px;
        left: 80px;
        transition: 0.3s;
    }

    .fa-bars {
        color: #000000;
        visibility: visible;
        position: relative;
        top: 25px;
    }
    
    .fa-times {
        position: relative;
        right: 78px;
        top: -92px;
        float: right;
    }

    .mobile_logo {
        width: 100%;
        height: 100px;
        position: relative;
       
    }
    
    .mobile_logo img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        position: relative;
        left: 15px;
    }

    #hero {
        width: 100%;
        background-color: #CB9F7F;
        padding: 80px 0;
        height: 70vh;
    }
    
    #hero .container {
        width: 100%;
        height: auto;
        display: grid;  
    }

    #hero img {
        visibility: hidden;
        display: none;
    }

    #hero h1 {
        font-size: 35px;
        font-family: 'Josefin Sans', sans-serif;
        width: 100vw;
        padding: 0px 30px;
        margin-top: -35px;
    }
    
    #hero p {
        margin-top: 30px;
        padding: 0px 30px;
        line-height: 1.5;
        width: 100vw;
    }
    
    #hero .contact_btn {
        margin-top: 40px;
        margin-left: 20px;
        width: 500px;
    }
    
    #hero .contact_btn a {
        background-color: rgba(0, 0, 0, 0.973);
        color: white;
        text-decoration: none;
        padding: 15px;
        width: 250px;
        border-style: none;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
    }
    
    .box {
        margin: 20px 10px;
        height: auto;
    }

    .square_image {
        object-position: 50% 10%; 
    }

    .square_bottom {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .square_bottom p {
        margin-top: 20px;
        font-size: 18px;
    }

    main .container {
        width: auto;
    }

    #portfolio .container {
        width: 90%;
        margin: 10px auto;
        margin-top: 50px;
    }

    .pagination {
        text-align: center;
        margin: 30px 30px 60px;
        user-select: none;
    }
    
    #about {
        height: 100%;
        margin: 200px 0 100px 0;
    }

    #about .container {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    #about .top {
        width: auto;
        margin: 0px 30px;
    }

    #about img {
        visibility: hidden;
        display: none;
    }

    #contact {
        margin: 50px 0 0 0;
    }

    .business_card {
        width: 85vw;
        position: relative;
        top: 30px;
    }

    .business_card_front {
        background-color: #fb910fc7;
        display: grid;
    }

    .business_card_back {
        display: grid;
    }
    
    .business_card_info {
        text-align: center;
        margin-top: 10px;
    }
    
    .line {
       visibility: hidden;
       display: none;
    }
        
    .business_card_links {
        position: relative;
        top: -10px;
        display: grid;
        grid-template-rows: 7fr 9fr 8fr 10fr;
    }

    .links_info span {
        font-size: 14px;
    }
 
    .card_logo {
        width: 200px;
        height: 200px;
    } 
}


@media screen and (min-width:577px) and (max-width:1440px){

    #hero {
        height: 85vh;
    }
    
    #hero img {
        width: 450px;
        height: 450px;
    }
    
    #hero .content {
        width: 50%;
    }
    
    #hero h1 {
        font-size: 40px;
    }
    
    #hero p {
        font-size: 17px;
    }
    
    #hero .contact_btn a { 
        width: 300px;
    }

    #about {
        height: 100%;
        min-height: 110vh;
    }

    #about .container {
        width: 65%;
        position: relative;
        top: 180px;
    }

    #about .top {
        width: auto; 
    }

    #about p {
        padding-right: 80px;
    }

    #about img {
        width: 350px;
        height: auto;
        position: relative;
        top: -25px;
    }
}


/** 


@media screen and (max-width:1440px){

    #hero {
        height: 85vh;
    }
    
    #hero img {
        width: 450px;
        height: 450px;
    }
    
    #hero .content {
        width: 50%;
    }
    
    #hero h1 {
        font-size: 40px;
    }
    
    #hero p {
        font-size: 17px;
    }
    
    #hero .contact_btn a { 
        width: 300px;
    }

    #about {
        height: 100%;
        min-height: 110vh;
    }

    #about .container {
        width: 65%;
        position: relative;
        top: 180px;
    }

    #about .top {
        width: auto; 
    }

    #about p {
        padding-right: 80px;
    }

    #about img {
        width: 350px;
        height: auto;
        position: relative;
        top: -25px;
    }
}




**/

/**

#myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 70%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid rgb(87, 82, 82);
        margin-bottom: 12px;
        position: relative;
        left: 35px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
        background-color: transparent;
        
    }


  .dropbtn {
    background-color: transparent;
    color: #0000008f;
    padding: 12px;
    width: 200px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid rgb(87, 82, 82);
    position: relative;
    right: 50px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  }

  .dropbtn:hover, .dropbtn:focus {
    background: #0ab1ce;

  }



  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover, .dropbtn:focus {
      background-color: #ddd;
    }

    .show {
        display: block;
       
    }




**/








   



